node_modules/
dist/
.cache/
*.log
.env
.env.*
# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
# Ignorar arquivos temporários do editor
.vscode/
.idea/
*.swp
*.swo
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
build/
tmp/